<nav class="bar" ...attributes>
  <ul>
    <li><LinkTo @route="about">About</LinkTo></li>
    <li><LinkTo @route="todos">Example TodoMVC</LinkTo></li>
    <li><LinkTo @route="data-store">Data Store</LinkTo></li>
    <li><LinkTo @route="docs">Documentation</LinkTo></li>
    <li class="pull-right">
      <DownloadButton class="download">
        Save
      </DownloadButton>
    </li>
  </ul>
</nav>
