<h2>Documentation</h2>

<nav class="sub-nav">
  <ul>
    <li><LinkTo @route="docs.index">Documentation</LinkTo></li>
    <li><LinkTo @route="docs.details">Details on how this works</LinkTo></li>
  </ul>
</nav>

{{outlet}}
